<h1 class="border border-solid border-gray-300 py-4 text-center text-xl font-bold bg-white">Edit <%= resource_name.to_s.humanize %></h1>

<div class="flex justify-center border border-solid border-gray-300 bg-white pt-6 pb-4">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'flex flex-col items-center gap-y-2 w-64', method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field w-full">
      <%= f.label :email, class: 'text-sm' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'border border-solid border-gray-600 rounded-lg w-full h-9 py-2 px-4' %>
    </div>

    <div class="field w-full">
      <%= f.label :username, class: 'text-sm' %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: 'border border-solid border-gray-600 rounded-lg w-full h-9 py-2 px-4' %>
    </div>

    <div class="field w-full">
      <%= f.label :name, class: 'text-sm' %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'border border-solid border-gray-600 rounded-lg w-full h-9 py-2 px-4' %>
    </div>

    <div class="field w-full">
      <%= f.label :avatar, class: 'text-sm' %><span class="text-sm"> (opcional)</span><br />
      <%= f.file_field :avatar, class: 'border border-solid border-gray-600 rounded-lg w-full h-9 py-2 px-4' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field w-full">
      <%= f.label :password, class: 'text-sm' %> <i class="text-sm">(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'border border-solid border-gray-600 rounded-lg w-full h-9 py-2 px-4' %>
    </div>

    <div class="field w-full">
      <%= f.label :password_confirmation, class: 'text-sm' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'border border-solid border-gray-600 rounded-lg w-full h-9 py-2 px-4' %>
    </div>

    <div class="field w-full">
      <%= f.label :current_password, class: 'text-sm' %> <i class="text-sm">(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'border border-solid border-gray-600 rounded-lg w-full h-9 py-2 px-4' %>
    </div>

    <div class="actions">
      <%= f.submit "Submit", class: 'bg-skyblue-500 rounded-3xl py-2 px-4 text-white cursor-pointer' %>
    </div>
    
    <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'text-blue-600' %>
  <% end %>
</div>
