<h1 class="border border-solid border-gray-300 py-4 text-center text-xl font-bold bg-white">Edit Comment</h1>
<div class="flex justify-center border border-solid border-gray-300 bg-white pt-6 pb-4">
  <%= form_with model: [@tweet, @comment], local: true, class: 'flex flex-col gap-2 w-64' do |f| %>
    <div class="w-full">
      <%= f.label :body, class: 'text-sm' %>
      <% if @comment.errors.any? %>
        <ul class="px-4">
          <% @comment.errors.full_messages.each do |msg| %>
            <li class="text-red-600 text-sm">
              <%= msg %>
            </li>
          <% end %>
        </ul>
      <% end %>
      <%= f.text_area :body, placeholder: 'What do you think?', class: 'border border-solid border-gray-600 rounded-lg w-full py-2 px-4 resize-none' %>
    </div>
    <%= f.submit 'Edit', class: 'bg-skyblue-500 rounded-3xl py-2 px-4 text-white cursor-pointer self-center' %>
  <% end %>
</div>