<section>
  <h1 class="border border-solid border-gray-300 py-4 text-center text-xl font-bold bg-white" >Home</h1>
  <div class="flex gap-2 py-2 px-4 bg-white border-r border-b border-l border-solid border-gray-300">
    <% if current_user  %>
      <%= current_user.avatar.attached? ? image_tag(current_user.avatar, class: 'rounded-full h-full') : image_tag('profile_default.svg', class: 'rounded-full h-full') %>
      <%= form_with model: @tweet, local: true, class: 'flex flex-col w-full gap-2' do |f| %>
        <% if @tweet.errors.any? %>
          <ul>
            <% @tweet.errors.full_messages.each do |msg| %>
              <li>
                <%= msg %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <%= f.text_area :body, placeholder: 'Remember to think before write...', class: 'p-1.5 resize-none' %>
        <%= f.submit 'Tweet', class: 'bg-blue-600 rounded-xl py-2 px-4 text-white cursor-pointer self-end' %>
      <% end %>
    <% end %>
  </div>
</section>
<section>
  <% @tweets.each do |tweet| %>
    <article>
      <%= tweet.user.avatar.attached? ? image_tag(tweet.user.avatar) : image_tag('profile_default.svg') %>
      <div>
        <%= tweet.user.name %>
        <%= tweet.user.username %>
        <%= time_ago_in_words(tweet.created_at) %>
        <p><%= tweet.body %></p>
        <footer>
          <div>
            <%= link_to image_tag('comments.svg'), tweet_path(tweet) %>
            <%= tweet.comments_count %>
          </div>
          <div>
          <% if policy(tweet).update? %>
            <%= link_to image_tag('delete.svg'), tweet_path(tweet), method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to image_tag('edit.svg'), edit_tweet_path(tweet) %>
          <% end %>
          </div>
        </footer>
      </div>
    </article>
  <% end %>
</section>