<section>
  <h1 class="border border-solid border-gray-300 py-4 text-center text-xl font-bold bg-white">Tuit Detail</h1>
  <article class="flex gap-2 py-2 px-4 bg-white border-r border-b border-l border-solid border-gray-300 mb-3">
    <%= @tweet.user.avatar.attached? ? image_tag(@tweet.user.avatar, class: 'rounded-full h-full') : image_tag('profile_default.svg', class: 'rounded-full h-full') %>
    <div class="w-full">
      <div class="flex items-center gap-2">
        <span class="text-black font-bold"><%= @tweet.user.name %></span>
        <span class="text-gray-500">@<%= @tweet.user.username %></span>
        <span class="text-sm text-gray-500"><%= time_ago_in_words(@tweet.created_at) %></span>
      </div>
      <p class="h-12"><%= @tweet.body %></p>
      <footer class="flex justify-between">
        <div class="flex gap-2.5">
          <%= image_tag('comments.svg') %>
          <span><%= @tweet.comments_count %></span>
        </div>
        <div class="flex gap-4">
            <% if policy(@tweet).update? %>
              <%= link_to image_tag('delete.svg'), tweet_path(@tweet), method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to image_tag('edit.svg'), edit_tweet_path(@tweet) %>
            <% end %>
        </div>
      </footer>
    </div>
  </article>
</section>
<section>
  <% if current_user  %>
    <div class="flex gap-2 py-2 px-4 bg-white border-r border-b border-l border-solid border-gray-300">
      <%= current_user.avatar.attached? ? image_tag(current_user.avatar, class: 'rounded-full h-full') : image_tag('profile_default.svg', class: 'rounded-full h-full') %>
      <%= form_with model: [@tweet, @comment], local: true, class: 'flex flex-col w-full gap-2' do |f| %>
        <% if @comment.errors.any? %>
          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
              <li>
                <%= msg %>
              </li>
          <% end %>
          </ul>
        <% end %> 
        <%= f.text_area :body, placeholder: 'Remember to think before write...', class: 'p-1.5 resize-none' %>
        <%= f.submit 'Comment', class: 'bg-skyblue-500 rounded-3xl py-2 px-4 text-white cursor-pointer self-end' %>
      <% end %>
    </div>
  <% end %>
  <% @comments.sort_by(&:created_at).reverse.each do |comment| %>
    <article class="flex gap-2 py-2 px-4 bg-white border-r border-b border-l border-solid border-gray-300">
      <%= comment.user.avatar.attached? ? image_tag(comment.user.avatar, class: 'rounded-full h-full') : image_tag('profile_default.svg', class: 'rounded-full h-full') %>
      <div class="w-full">
        <div class="flex items-center gap-2">
          <span class="text-black font-bold"><%= comment.user.name %></span>
          <span class="text-gray-500">@<%= comment.user.username %></span>
          <span class="text-sm text-gray-500"><%= time_ago_in_words(comment.created_at) %><span>
        </div>
        <p class="h-12"><%= comment.body %></p>
        <% if policy(comment).update? %>
          <footer class=" w-full flex justify-end gap-4">
            <%= link_to image_tag('delete.svg'), tweet_comment_path(@tweet, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to image_tag('edit.svg'), edit_tweet_comment_path(@tweet, comment) %>
          </footer>
        <% end %>
      </div>
    </article>
  <% end %>
</section>